@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243, 244, 246);
}

.theme {
  transition: all 0.2s ease;
}
.light {
  background-color: rgb(243, 244, 246);
  color: #1f1f1f;
}
.dark {
  background-color: #1f1f1f;
  color: rgb(243, 244, 246);
}
.height-screen {
  min-height: 92vh;
}
.w50vh {
  width: 50vw;
}

/* ======================Waving Animation ========================= */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  animation-iteration-count: 2; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
